.projectCard {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
    height: 50vh;
}

.projectCard img {
    width: 90%;
    max-height: 40vh;
}

.projectCard .project-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 30vh;
    width: inherit;
    margin: 0 auto;
}

.projectCard .project-container img{
    max-height: 30vh;
    width: inherit;
}

.arrow {
    cursor: pointer;
}

.projectCard #icons img {
    width: 1.5rem;
}

.projectCard #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectCard #header #icons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {

    .projectCard {
        width: 90%;
        height: 70vh;
        margin-bottom: 8rem;
    }

    .projectCard #header {
        height: 14vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60%;
    }

    .projectCard #icons img {
        width: 1.5rem;
    }

    .projectCard .project-container {
        height: 56vh;
    }

    .projectCard .project-container img{
        max-height: 54vh
    }
}