html,
body {
  margin: 0;
}

#App {
  position: relative;
}

#App>header #logo {

  font-size: 4.5rem;
  border: 1px solid grey;
  padding: 0.3em;
  border-radius: 50%
}

#App>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30%;
  border-top: 1px solid #C7C2C2;
}

nav p {
  margin-top: 0;
  padding-top: 1rem;
  font-size: 1.2rem;
}

nav p:hover {
  cursor: pointer;
}

#noteShowOff {
  position: absolute;
  z-index: 2;
  top: 10%;
  background-color: aquamarine;
  left:5%;
  right:5%;
  bottom: 10%;
  display: block;
}

.arrow {
  border-top: solid 1px black;
  border-left: solid 1px black;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
}

.left {
  padding-right: 2rem;
  transform: rotate(-45deg);
}

.right {
  padding-left: 2rem;
  transform: rotate(135deg);
}

footer {
  padding: 0 2rem;
  background-color: grey;
  right: 0;
  left: 0;
  text-align: center;
}

footer a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {

  #App>header {
    margin: 0 20%;
  }

  #App>header #logo {
    font-size: 5rem;
  }
}