html,
body {
  margin: 0;
}

#App {
  position: relative;
}

#App>header {
  display: flex;
  gap: 7%;
  align-items: center;
  justify-content: center;
}

#App>header #logo {
  aspect-ratio: 1/1;
  font-size: 3.5rem;
  width: min-content;
  border: 1px solid grey;
  padding: 0.3em;
  margin: 0;
  border-radius: 50%
}

#App p {
  margin: 1.5vh 0;
}

@media screen and (min-width: 958px) {
  #App>header #logo {
    font-size: 5rem;
  }

  #App>header {
    justify-content: space-between;
    margin: clamp(0.5vh, 1vh, 2vh) clamp(20%, 26%, 30%);
  }
}