header #logo {

  font-size: 4.5rem;
  border: 1px solid grey;
  padding: 0.3em;
  border-radius: 50%
}

html,
body {
  margin: 0;
  font-size: 14px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

section {
  border-top: 1px solid #C7C2C2;
}

nav {
  margin: 0 20%;
  display: flex;
  justify-content: center;
  gap: 30%;
}

nav p {
  margin-top: 0;
  padding-top: 10px;
  font-size: 1.2rem;
}

nav p:hover {
  cursor: pointer;
}


#Projects .ShowCase>*:nth-child(odd)  {
  margin-right: 3%;
  margin-left: auto;
}

#Projects .ShowCase>*:nth-child(even)  {
  margin-left: 3%;
  margin-right: auto;
}


@media screen and (min-width: 768px) {
  #Projects .ShowCase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 10%;
  }

  header {
    margin: 0 20%;
  }

  header #logo {
    font-size: 5rem;
  }
}