#project {
    width: 80%;
    height: auto;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

#project img {
    width: 100%;
}

#project #tech-used {
    color: #000;
    display: inline;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#project li {
    display: inline;
}